/* For Route: account/index */
.account-options-container {
    position: fixed;
    bottom: 0;
    right: 5%;

    .mdc-fab {
        display: flex;
        position: relative;
        margin-bottom: 24px;
        margin-left: 24px;
        right: 0;
        bottom: 0;
    }
}

.accountForm {
    padding: 5%;

    .mdc-text-field {
        padding: 5%;
    }

    .mdc-password-text-field {
        padding: 5%;
    }

    .password {
        position: relative;
        width: 75%;
    }

    .username {
        position: relative;
        width: 200%;
    }
}