html, body {
    height: 100%;
    scroll-behavior: smooth;
}

:root {
    --mdc-theme-primary: #534a48;
    --mdc-theme-secondary: #506751;
    --mdc-theme-on-primary: #ded5b9;
    --mdc-theme-on-secondary: #ded5b9;
}

body {
    overflow: auto;
    padding-top: env(safe-area-inset-top);
}

.mdc-text-field--focused {
    color: #506751;
}

.mdc-line-ripple-color {
    color: #506751;
}


