<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src='/components/topBar.js' type="text/javascript" defer></script>
</head>

<top-bar></top-bar>

<main class="mdc-top-app-bar--fixed-adjust mdc-typography">
    <p class='mdc-typography--header6'>Please sign in to view all saved verses.</p>
</main>

</body>
</html>
