<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/@material/form-field/dist/mdc.form-field.css'/>
    <link rel='stylesheet' href='/@material/button/dist/mdc.button.css'/>
    <link rel='stylesheet' href='/@material/textfield/dist/mdc.textfield.css'/>
    <link rel='stylesheet' href='/@material/icon-button/dist/mdc.icon-button.css'/>
    <link rel='stylesheet' href='/stylesheets/account/create.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script src="/@material/form-field/dist/mdc.formField.js"></script>
    <script src="/@material/textfield/dist/mdc.textfield.js"></script>
    <script src="/@material/icon-button/dist/mdc.iconButton.js"></script>
    <script src="/javascripts/account/create.js"></script>

    <script src='/components/topBar.js' type="text/javascript" defer></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <style>
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 100,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
        }
    </style>
</head>

<top-bar></top-bar>

<main class="mdc-top-app-bar--fixed-adjust mdc-typography">

    <form class="form-container">
        <!-- Form. -->

        <h1 class="mdc-typography--headline5" style="text-align:center">Create an Account</h1>

        <!-- Username -->
        <label id='username' class="userInput mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="my-label-id">Username</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
            <input id='usernameInput' class="mdc-text-field__input" type="text"
                   aria-labelledby="username"
                   aria-controls="username"
                   aria-describedby="username"
                   onkeyup="validate()"
                   onChange="validate('username')">
        </label>
        <div class="validation mdc-text-field-helper-line">
            <div id="usernameMsg" class="mdc-text-field-helper-text--validation-msg mdc-text-field-helper-text--validation-msg" aria-hidden="true"></div>
        </div>




        <!-- Password #1 -->
        <label id='password1' class="userInput mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="my-label-id">Password</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
            <input id='password1Input' class="mdc-text-field__input" type="password"
                   aria-labelledby="password1"
                   aria-controls="password1"
                   aria-describedby="password1"
                   onkeyup="validate()"
                   onChange="validate('password1')"
                   onclick="checkPasswords()">
            <i id='password1Button' class="material-icons material-symbols-outlined mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="0" role="button" onclick="visible('password1')">visibility_off</i>
        </label>
        <div class="validation mdc-text-field-helper-line">
            <div id="password1Msg" class="mdc-text-field-helper-text--validation-msg mdc-text-field-helper-text--validation-msg" aria-hidden="true"></div>
        </div>


        <!-- Password #2 -->
        <label id='password2' class="userInput mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="my-label-id">Confirm Password</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
            <input id='password2Input' class="mdc-text-field__input" type="password"
                   aria-labelledby="password2"
                   aria-controls="password2"
                   aria-describedby="password2"
                   onkeyup="validate()"
                   onChange="validate('password2')"
                   onclick="checkPasswords()">
            <i id='password2Button' class="material-icons material-symbols-outlined mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="0" role="button" onclick="visible('password2')">visibility_off</i>
        </label>
        <div class="validation mdc-text-field-helper-line">
            <div id="password2Msg" class="mdc-text-field-helper-text--validation-msg mdc-text-field-helper-text--validation-msg" aria-hidden="true"></div>
        </div>


        <!-- Submit Button -->
        <button id='submitButton' class="mdc-button mdc-button--unelevated mdc-ripple-upgraded" onsubmit="submit()" disabled>
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Create Account</span>
        </button>

    </form>
</main>

</body>
</html>

