<!DOCTYPE html>
<html>
<head>
    <title><%= title%>></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src='/components/topBar.js' defer></script>
</head>


<body>

    <top-bar></top-bar>

    <main class="mdc-top-app-bar--fixed-adjust mdc-typography">
        <h1><%= title %></h1>
    </main>

</body>


</html>
