<!DOCTYPE html>
<html>
<head>
    <title><%= title%>></title>

    <link rel='stylesheet' href='/stylesheets/bible/index.css'/>
    <link rel='stylesheet' href='/stylesheets/account/create.css'/>
    <link rel='stylesheet' href='/@material/form-field/dist/mdc.form-field.css'/>
    <link rel='stylesheet' href='/@material/button/dist/mdc.button.css'/>
    <link rel='stylesheet' href='/@material/textfield/dist/mdc.textfield.css'/>
    <link rel='stylesheet' href='/@material/floating-label/dist/mdc.floating-label.css'/>

    <script src='/@material/form-field/dist/mdc.formField.js'></script>
    <script src="/@material/textfield/dist/mdc.textfield.js"></script>
    <script src='/@material/floating-label/dist/mdc.floatingLabel.js'></script>

    <script src='/javascripts/bible/index.js'></script>
    <script src='/components/topBar.js' defer></script>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <style>
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 100,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
        }
    </style>
</head>


<body>

    <top-bar></top-bar>

    <main class="mdc-top-app-bar--fixed-adjust mdc-typography">
        <form class="form-container" style="text-align:center;" action="bible/result" method="POST" enctype="multipart/form-data">
            <label class="mdc-typography--headline5" style="text-align:left"><%= title %></label>
                <label id='input' class="mdc-text-field mdc-text-field--filled mdc-ripple-upgraded mdc-text-field--with-leading-icon">
                    <span class="mdc-text-field__ripple"></span>

                    <span class="center-container" style="width:100%;">
                        <i id='searchIcon' class="material-icons material-symbols-outlined mdc-text-field__icon mdc-text-field__icon--leading">Search</i>
                        <input id="userInput" name="userInput" class="mdc-text-field__input" type="text" aria-labelledby="input"
                               placeholder="Enter keywords..."
                               aria-controls="input" aria-describedby="input"
                               onchange="validate()"
                               onkeyup="validate()">
                    </span>
                    <span class="mdc-line-ripple"></span>
                </label>


            <button class="mdc-button" id="submitButton">
                <span class="mdc-ripple-upgraded"></span>
                <span class="mdc-button__focus-ring"></span>
                <span class="mdc-button__label">Search</span>
            </button>
        </form>

    </main>
</body>


</html>
