<!DOCTYPE html>
<html>
<head>

    <title>Translit</title>

    <link rel='stylesheet' href='/@material/linear-progress/dist/mdc.linear-progress.css'/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <script src="/@material/linear-progress/dist/mdc.linearProgress.js"></script>

    <script src='/components/topBar.js' type="text/javascript" defer></script>
</head>

<top-bar></top-bar>


<main class="mdc-top-app-bar--fixed-adjust mdc-typography">
    <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-linear-progress--animation-ready" aria-label="Progress Bar" aria-valuemin="0" aria-valuemax="1">
        <div class="mdc-linear-progress__buffer">
            <div class="mdc-linear-progress__buffer-bar"></div>
            <div class="mdc-linear-progress__buffer-dots"></div>
        </div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
        </div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
            <span class="mdc-linear-progress__bar-inner "></span>
        </div>
    </div>
</main>

</body>
</html>
